<header class="container">
    <h1 class="text-center display-3" id="title"> Login Form </h1>
    <div class="description">
        <a href="" routerLink="">Doesn't Have a Account?</a>

    </div>

</header>

<div class="container login">
    <div class="card login-card my-4">
        <form id="login-form" [formGroup]="loginForm">
            <!-- TEXTB0X: Roll No -->
            <label>Roll No:</label>
            <div class="form-group d-flex">
                <input class="form-control" type="text" id="name" placeholder="Roll No" formControlName="rollNo">
            </div>
            <!-- TEXTB0X: Password -->
            <label>Password:</label>

            <div class="form-group d-flex">
                <input class="form-control" type="Password" id="Password" placeholder="Password" formControlName="password">
            </div>


            <!-- BUTTON: SUBMIT -->
            <div class="submit">
            <button class="btn btn-primary mb-5" id="submit" (click)="submitform()">
                Submit
            </button>
        </div>
        </form>
    </div>
</div>
<!-- Bootstrap CSS -->