body {
    background-color: antiquewhite;
}

form {
    padding-left: 1em;
}
#login-form{
    padding: 10px 10px 10px 10px;
}
.description,.submit{
    text-align: center;
}
.login-card{
    width:660px;
    @media only screen and (max-width: 768px ) {
        width: max-content;

    }
}
.login{
    width: max-content;
}
