
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.background{
  background: url(https://cdn.pixabay.com/photo/2015/04/20/13/38/furniture-731449_960_720.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;  
  overflow:hidden;
  padding-bottom:400px;
}
.header h1{
font-size:49px;
padding-top: 130px;
text-align: center;
color: white;
}

.header h3{
 font-size:28px;
  padding-top:28px;
  text-align: center;
color: white;
}
.button{
    text-align: center;
    padding-top: 20px;
}
.btn-primary{
    color: black !important;
    background-color: #00ff14  !important;
    border-color: black  !important;
    width: 19%;
    @media only screen and (max-width: 768px ) {
        width: max-content;

    }
}
.btn-danger{
    color: black !important;
    background-color: red  !important;
    border-color: black  !important;
    width: 19%;
    margin-left:10px;
    @media only screen and (max-width: 768px ) {
        width: max-content;

    }
}



