<section class="background">
    <div class="header">
      <h1>Welcome Admin {{name}}</h1>
      <h3 style="color: red;">{{email}}</h3>
      <div class="button">
      <button type="button" class="btn btn-primary btn-lg" (click)="editProfile()">Wants to Edit Profile?</button>
      <button type="button" class="btn btn-danger btn-lg" (click)="deleteProfile()">Delete Profile?</button>

    </div>
    </div>
    </section>
    