<header class="container">
    <h1 class="text-center display-3" id="title"> Registration Form </h1>
    <div class="description" *ngIf="pageType !== 'edit'">
        <a href="" routerLink="login">Already Have a Account?</a>
    </div>
    <div class="description" *ngIf="pageType === 'edit'">
    <p>
    <b style="color: red;">Roll Number and Password cannot be  modified</b>
    </p>  
  </div>

</header>

<div class="container registration">
    <div class="card registration-card my-4">
        <form id="registration-form" [formGroup]="registrationForm">
            <!-- TEXTB0X: Roll No -->
            <div *ngIf="pageType === 'edit'">
                <label>Roll No:</label>
                <div class="form-group d-flex">
                    <input class="form-control" type="text" id="name" placeholder="Roll No" formControlName="rollNo"
                        readonly>
                </div>
            </div>
            <div *ngIf="pageType !== 'edit'">
                <label>Roll No:</label>
                <div class="form-group d-flex">
                    <input class="form-control" type="text" id="name" placeholder="Roll No" formControlName="rollNo">
                </div>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <!-- TEXTB0X: FIRST NAME -->
            <label>First Name:</label>
            <div class="form-group d-flex">
                <input class="form-control" type="text" id="name" placeholder="First name" formControlName="firstName">
            </div>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <!-- TEXTB0X: LAST NAME -->
            <label>Last Name:</label>
            <div class="form-group d-flex">
                <input class="form-control" type="text" id="name" placeholder="Last name" formControlName="lastName">
            </div>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>

            <!-- TEXTB0X: EMAIL -->
            <label>Email:</label>

            <div class="form-group d-flex">
                <input class="form-control" type="email" id="email" placeholder="Email" formControlName="email">
            </div>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <!-- TEXTB0X: PHONE -->
            <label>Mobile:</label>

            <div class="form-group d-flex">
                <input class="form-control" type="number" #mobile placeholder="mobile" formControlName="mobile"
                    onkeypress="return String.fromCharCode(event.charCode).match(/[^0-9]/g) === null">
            </div>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
            <!-- TEXTB0X: Password -->
            <div *ngIf="pageType === 'edit'">
                <label>Password:</label>
                <div class="form-group d-flex">
                    <input class="form-control" type="Password" id="Password" placeholder="Password"
                        formControlName="password" readonly>
                </div>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div *ngIf="pageType !== 'edit'">
                <label>Password:</label>
                <div class="form-group d-flex">
                    <input class="form-control" type="Password" id="Password" placeholder="Password"
                        formControlName="password">
                </div>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
            </div>

            <!-- GENDER -->
            <div class="form-group">
                <label for="gender">Gender:</label>
                <select class="form-control" id="gender" formControlName="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <!-- BUTTON: SUBMIT -->
            <div class="submit" *ngIf="pageType !== 'edit'">
                <button class="btn btn-primary mb-5" id="submit" (click)="submitform()"
                    [disabled]="registrationForm.invalid">
                    Submit
                </button>
            </div>
            <div class="update" *ngIf="pageType === 'edit'">
                <button class="btn btn-primary mb-5" id="update" (click)="updateForm()"
                    [disabled]="registrationForm.invalid">
                    Update
                </button>
                <button class="btn btn-danger mb-5" id="update" (click)="back()">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
<!-- Bootstrap CSS -->