body {
    background-color: antiquewhite;
}

form {
    padding-left: 1em;
}
#registration-form{
    padding: 10px 10px 10px 10px;
}
.description,.submit,.update{
    text-align: center;
}
.registration-card{
    width:660px;
    @media only screen and (max-width: 768px ) {
        width: max-content;

    }

}
.btn-danger{
    margin-left:10px !important;
}
.registration{
    width: max-content;
}